html {
    color: #333;
    background: black;
}

.float-container {
    width: 100%;
    overflow: auto;
}

.celty_command {
    text-decoration: underline;
}

div.wrapper {
    margin: auto;
    width: 960px;
}

div.block {
    border: 3px solid white;
    margin-bottom: 1em;
    color: grey;
}

div.block .key {
    background: white;
    color: black;
}

div.state {
    float: right;
    border: 3px solid #aaa;
}

div.logo {
    float: left;
    color: white;
    font-size: 2em;
}

.logo .version {
    color: grey;
    font-size: 0.4em;
}

#widgets {
    float: left;
    width: 45%;
}

#widgets .block pre {
    color: #eee;
    word-wrap: break-word;
    margin: 0;
}

#ui {
    width: 50%;
    border: solid;
    float: right;
    color: #eee;
}

#ui .title {
    color: black;
    background: white;
    text-align: right;
}

#helmet_render span {
    white-space: pre;
    word-wrap: break-word;
}
