
body {
    background: black;
}

table {
    border-collapse: collapse;
}

.helmet_render {
    width: 240px;
    margin: auto;
    padding: 0.3em;
    background: grey;
    color: white;
    border: 3px double white;
}

.helmet_row {
}

